@using BulkyBook.Models
@model Company

<form method="post" asp-action="Upsert" >
	<input type="hidden" asp-for="Id"/>
	
	

	<div class="border p-3 mt-4">
		<div class="row pb-2">

			<h2 class="text-primary">@(Model.Id!=0? "Update": "Create")  Company</h2>
		</div>
		<div asp-validation-summary="All" class="text-danger"></div>
		<div class="mb-3">
			<label asp-for="Name"></label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="mb-3 col-xs-6">
			<label asp-for="StreetAddress"></label>
			<input asp-for="StreetAddress" class="form-control" />
			<span asp-validation-for="StreetAddress" class="text-danger"></span>
		</div>
		<div class="mb-3 col-xs-6">
			<label asp-for="City"></label>
			<input asp-for="City" class="form-control" />
			<span asp-validation-for="City" class="text-danger"></span>
		</div>
		<div class="mb-3 col-xs-6">
			<label asp-for="State"></label>
			<input asp-for="State" class="form-control" />
			<span asp-validation-for="State" class="text-danger"></span>
		</div>
		<div class="mb-3  col-xs-6">
			<label asp-for="PostalCode"></label>
			<input asp-for="PostalCode" class="form-control" />
			<span asp-validation-for="PostalCode" class="text-danger"></span>
		</div>
		<div class="mb-3  col-xs-6">
			<label asp-for="PhoneNumber"></label>
			<input asp-for="PhoneNumber" class="form-control" />
			<span asp-validation-for="PhoneNumber" class="text-danger"></span>
		</div>
		
		
		
		@if (Model.Id != 0)
		{
			<button type="submit" class="btn btn-primary" style="width:150px">Update	</button>
		}
		else
		{
			<button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Create	</button>
		}
		<a asp-controller="Company" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Back to List
		</a>
		
	</div>
</form>
@section Scripts
{
	@{
	<partial name="_ValidationScriptsPartial" />
}
<script>
   tinymce.init({
      selector: 'textarea',
      plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
      toolbar_mode: 'floating',
   });

		function ValidateInput()
		{
			debugger;
			if (document.getElementById("UploadBox").value==""){
				//sweet alert remember to include the javascript file in _layout
				swal({
					 title: "Oops",
					 text: "Please upload an Imae",
					icon: "error",
					 button: "OK!",
				});
				return false;
			}

		}
</script>
}
